@forward 'vuetify/settings' with (
  $body-font-family: ('Montserrat', 'Alegreya', 'Love Ya Like A Sister', sans-serif)
);

code,
kbd,
pre,
samp,
var {
  font-family: 'Roboto Mono', monospace !important;
}

:root {
  --backg: #fff;
  --color_text: #000;
  --color_title_text: #fff;
  --color_title_backg: #000;
  --backg_buttons: rgba(0, 0, 0, 0.15);
}

[data-theme="darktheme"] {
  --backg: #000;
  --color_text: #fff;
  --color_title_text: #000;
  --color_title_backg: #fff;
  --backg_buttons: rgba(255, 255, 255, 0.25);
}

body {
  font-family: 'Montserrat', 'Alegreya', 'Love Ya Like A Sister', sans-serif !important;
  background-color: var(--backg);
  color: var(--color_text);
  margin: 0;
}
